<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{fragments/head}" />

<body>
	<div id="content">
		<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
		<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

		<nav th:replace="~{fragments/nav}"></nav>

		<div class="container-add">
			<h2 th:text="#{product.add_new_product}">Añadir un nuevo producto</h2>

			<div th:if="${errors}" class="alert alert-danger">
				<p th:text="#{product.errors}">Por favor corrige los siguientes errores:</p>
				<ul>
					<li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
				</ul>
			</div>

			<form th:action="@{/product/add}" method="post" th:object="${product}" enctype="multipart/form-data" onsubmit="return validateForm()">
				<div>
					<label for="name" th:text="#{product.name}">Nombre:</label>
					<input type="text" id="name" name="name" th:field="*{name}" />
					<span id="nameError" style="color: red; display: none;" th:text="#{validation.required}">Este campo
						no puede estar vacío.</span>
				</div>

				<div>
					<label for="detail" th:text="#{product.detail}">Detalle:</label>
					<textarea id="detail" name="detail" th:field="*{detail}"></textarea>
					<span id="detailError" style="color: red; display: none;" th:text="#{validation.required}">Este
						campo no puede estar vacío.</span>
				</div>

				<div>
					<label for="price" th:text="#{product.price}">Precio:</label>
					<input type="text" id="price" name="price" th:field="*{price}" />
					<span id="priceError" style="color: red; display: none;" th:text="#{validation.required}">Este campo
						no puede estar vacío.</span>
				</div>

				<div>
					<label for="stock" th:text="#{product.stock}">Stock:</label>
					<input type="text" id="stock" name="stock" th:field="*{stock}" />
					<span id="stockError" style="color: red; display: none;" th:text="#{validation.required}">Este campo
						no puede estar vacío.</span>
				</div>

				<div>
					<label for="category" th:text="#{product.category}">Categoría:</label>
					<select id="category" name="category" th:field="*{category}" class="form-control">
						<option th:each="cat : ${categorias}" th:value="${cat}" th:text="${cat}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="tags" th:text="#{product.tags}">Tags:</label>
					<input type="text" id="tags" name="tags" placeholder="Ingrese tags separados por comas" autofocus>
				</div>

				<div class="form-group">
					<label for="newImages" th:text="#{product.add_new_images}">Añadir nuevas imágenes:</label>
					<input type="file" id="newImages" name="images" accept="image/*" multiple
						class="form-control-file" />
				</div>

				<div id="addProductButtonContainer">
					<button type="submit" id="addProductButton" th:text="#{product.add_product_button}">Añadir
						producto</button>
				</div>
			</form>

		</div>
	</div>

	<footer th:replace="~{fragments/footer}" />

	<script>
		var input = document.getElementById('tags');
		var t = new Tagify(input);
		console.log(t);
	</script>
	<script>
		function validateForm() {
			var fields = ['name', 'detail', 'price', 'stock'];
			var isValid = true;

			fields.forEach(function (field) {
				var input = document.getElementById(field);
				var error = document.getElementById(field + 'Error');

				if (input.value.trim() === '') {
					error.innerText = 'Este campo no puede estar vacío';
					error.style.display = 'inline';
					isValid = false;
				} else {
					error.style.display = 'none';
				}
			});

			return isValid;
		}
	</script>


</body>

</html>