<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
</head>
<body>
    <nav th:replace="fragments/nav"></nav>

    <div class="container">
        <h2>Editar Producto</h2>

        <form th:action="@{/product/edit/{id}(id=${product.productId})}" method="post" th:object="${product}" enctype="multipart/form-data">
            <!-- Campos del formulario -->
            <div>
                <label for="name">Titulo del producto:</label>
                <input type="text" id="name" th:field="*{name}" />
            </div>

            <div>
                <label for="detail">Detalles:</label>
                <input type="text" id="detail" th:field="*{detail}" />
            </div>
            
             <div>
                <label for="price">Precio:</label>
                <input type="text" id="price" th:field="*{price}" />
            </div>

            <div>
                <label for="stock">Stock:</label>
                <input type="text" id="stock" th:field="*{stock}" />
            </div>

            <div>
                <label for="category">Categoria:</label>
                <input type="text" id="category" th:field="*{category}" />
            </div>

			  <div>
                <label for="newImages">Añadir nuevas imagenes:</label>
                <input type="file" id="newImages" name="newImages" accept="image/*" multiple />
            </div>

            <!-- Lista de imágenes existentes para eliminar -->
            <div>
                <label>Imagenes actuales:</label>
                <ul>
                    <li th:each="image : ${product.images}">
                        <span th:text="${image}"></span>
                        <input type="checkbox" name="imagesToRemove" th:value="${image}" /> Eliminar
                    </li>
                </ul>
            </div>
          
            <button type="submit">Guardar cambios</button>
        </form>
    </div>

    <footer th:replace="fragments/footer" /></footer>
</body>
</html>
