<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}" />
</head>

<body>
    <nav th:replace="~{fragments/nav}"></nav>

    <div class="container">
        <div class="edit-product-container">
            <h2 th:text="#{edit.product}">Editar Producto</h2>

            <form th:action="@{'/product/edit/' + ${product.productId}}" method="post" th:object="${product}"
                enctype="multipart/form-data">
                <div class="form-group">
                    <label th:text="#{product.name}">Título del producto:</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" />
                </div>

                <div class="form-group">
                    <label th:text="#{product.details}">Detalles:</label>
                    <input type="text" id="detail" th:field="*{detail}" class="form-control" />
                </div>

                <div class="form-group">
                    <label th:text="#{product.price}">Precio:</label>
                    <input type="text" id="price" th:field="*{price}" class="form-control" />
                </div>

                <div class="form-group">
                    <label th:text="#{product.stock}">Stock:</label>
                    <input type="text" id="stock" th:field="*{stock}" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="category" th:text="#{product.category}">Categoría:</label>

                    <select id="category" name="category" th:field="*{category}" class="form-control">
                        <option th:each="cat : ${categorias}" th:value="${cat}" th:text="${cat}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:text="#{product.add_new_images}">Añadir nuevas imágenes:</label>
                    <input type="file" id="newImages" name="images" accept="image/*" multiple
                        class="form-control-file" />
                </div>

                <label th:text="#{product.current_images}">Imágenes actuales:</label>
                <ul class="image-list" th:if="${not #lists.isEmpty(product.imagePaths)}">
                    <li th:each="image : ${product.imagePaths}">
                        <img th:src="@{/product/image/{name}(name=${image})}" alt="Imagen del producto"
                            class="product-image" />
                        <input type="checkbox" name="imagesToRemove" th:value="${image}" /> Eliminar
                    </li>
                </ul>
                <p th:text="#{product.no_images}" th:if="${#lists.isEmpty(product.imagePaths)}">No hay imágenes
                    disponibles.</p>

                <button type="submit" name="editProductButton" th:text="#{product.save_changes}"
                    class="btn btn-primary">Guardar cambios</button>
            </form>
        </div>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>
</body>

</html>
