<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}" />

<body>
	<div id="content">
    <nav th:replace="~{fragments/nav}"></nav>

    <div class="featured-container">
        <h2 th:text="#{purchased_products_title}">Tus productos comprados</h2>

        <ul class="horizontal-list">
            <li th:if="${not #lists.isEmpty(purchasedProducts)}" th:each="product : ${purchasedProducts}"
                class="product-container">

                <img th:src="@{/product/image/{name}(name=${product.imagePaths[0]})}" alt="Imagen del producto"
                    class="product-image" />

               <div class="product-details">
                    <p th:text="${product.name}">Producto:</p>
                    <p th:text="${product.detail}">Detalle:</p>
                    <p th:text="${product.price}">Precio:</p>
                </div>

                <div class="product-actions">
                    <a th:href="@{/product/detail/{productId}(productId=${product.productId})}"
                        class="view-detail-button" th:text="#{product_details_button_label}">Detalles</a>
                </div>
                <form th:unless="${product.perteneceAUsuario(#authentication.name)}" th:action="@{/cart/addProduct}"
					method="post">
					<input type="hidden" name="productId" th:value="${product.productId}" />
					<input type="number" name="quantity" value="1" class="quantity-input" title="quantity" />
					<button type="submit" class="add-to-cart" aria-label="Comprar">
						<span class="glyphicon glyphicon-shopping-cart"></span>
					</button>
				</form>

            </li>
        </ul>

        <p th:if="${#lists.isEmpty(purchasedProducts)}" class="th-no-products" th:text="#{no_purchased_products_message}">Aún no has comprado productos.</p>
    </div>
	</div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>

</html>
