<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
	<link rel="stylesheet" type="text/css" href="custom.css" />
</head>

<body>
	<nav th:replace="~{fragments/nav}"></nav>

	<div class="list-own-container">
		<h2 class="list-own-h2">Mis productos</h2>

		<h3>Productos publicados</h3>
		<ul th:if="${not #lists.isEmpty(products)}" th:each="product : ${products}"
			class="product-list product-published">
			<li class="product-container">
				<th:block th:each="image : ${product.imagePaths}">
					<img th:src="@{/product/image/{name}(name=${image})}" alt="Imagen del producto" class="product-image" />
				</th:block>
				<th:block th:if="${#lists.isEmpty(product.imagePaths)}">
					<img src="/images/defaultImage.jpg" alt="Imagen por defecto" class="product-image" />
				</th:block>
				<p class="th-label product-name" th:text="${product.name}">Producto:</p>
				<p class="product-detail" th:text="${product.detail}">Detalle:</p>
				<p class="th-price product-price" th:text="${product.price}">Precio:</p>
				<div class="product-actions">
					<a th:href="@{/product/edit/{id}(id=${product.productId})}" class="edit-product">Editar</a>
					<a th:href="@{/product/delete/{id}(id=${product.productId})}" class="delete-product">Borrar</a>
				</div>
			</li>
		</ul>


		<h3>Productos Vendidos</h3>
		<ul th:if="${not #lists.isEmpty(soldProducts)}" th:each="soldProduct : ${soldProducts}"
			class="product-list product-sold">
			<li class="product-container">
				<th:block th:each="image : ${soldProduct.images}">
					<img th:src="${image}" alt="Imagen del producto" class="product-image" />
				</th:block>
				<th:block th:if="${#lists.isEmpty(soldProduct.images)}">
					<img src="/images/defaultImage.jpg" alt="Imagen por defecto" class="product-image" />
				</th:block>
				<!-- Todos los elementos del producto dentro del mismo <li> -->
				<p class="th-label product-name" th:text="${soldProduct.name}">Producto:</p>
				<p class="product-detail" th:text="${soldProduct.detail}">Detalle:</p>
				<p class="th-date product-date" th:text="${#dates.format(soldProduct.productDate, 'yyyy-MM-dd')}">Fecha
					de venta:</p>
				<p class="th-price product-price" th:text="${soldProduct.price}">Precio de venta:</p>
				<form th:action="@{/product/detail}" method="get">
					<input type="hidden" name="productId" th:value="${soldProduct.productId}" />
					<button type="submit" class="view-detail">Detalles</button>
				</form>
			</li>
		</ul>





		<p th:if="${#lists.isEmpty(products) and #lists.isEmpty(soldProducts)}" class="th-no-products">Aun no tienes
			productos publicados.</p>
	</div>



	<footer th:replace="~{fragments/footer}"></footer>
</body>

</html>