<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head" />
</head>

<body>
    <!-- Barra de Navegación superior -->
    <nav th:replace="fragments/nav"></nav>

    <div class="container">
        <h2>Buscar Productos</h2>

        <form th:action="@{/product/search/results}" method="get">
            <div>
                <label for="searchTerm">Término de búsqueda:</label>
                <input type="text" id="searchTerm" name="searchTerm" />
            </div>

            <div>
                <button type="submit">Buscar</button>
            </div>
        </form>
    </div>

    <footer th:replace="fragments/footer"></footer>
</body>

</html>
