<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}" />

<link rel="stylesheet" type="text/css" href="custom.css" />

<body>
	<nav th:replace="~{fragments/nav}" />

	<div class="container search-container">
		<h2 class="search-header">Resultados de Búsqueda</h2>

		<div th:if="${searchTerm}">
			<div class="search-results">
				<div th:each="result : ${searchResults}" class="search-result">
					<div class="product-container">
						<li th:each="image : ${result.imagePaths}">
							<img th:src="@{/product/image/{name}(name=${image})}" alt="Imagen del producto"
								class="product-image" />
						</li>
						<li th:if="${#lists.isEmpty(result.imagePaths)}">
							<img src="/img/defaultImage.jpg" alt="Imagen por defecto" class="product-image" />
						</li>
						<div class="product-details">
							<h3 th:text="${result.name}" class="product-name">Producto:</h3>
							<p th:text="${result.detail}" class="product-detail">Detalle:</p>
							<p th:text="'Precio: ' + ${result.price}" class="product-price">Precio:</p>
							<div class="product-actions">
								<form th:action="@{/product/detail}" method="get">
									<input type="hidden" name="productId" th:value="${result.productId}" />
									<button type="submit" class="view-detail-button">Detalles</button>
								</form>
								<form th:action="@{/featured/add}" method="post">
									<input type="hidden" name="productId" th:value="${result.productId}" />
									<button type="submit" class="add-to-favorites">Añadir a favoritos</button>
								</form>
							</div>
							<div class="add-to-cart-section">
								<form th:action="@{/cart/addProduct}" method="post">
									<input type="hidden" name="productId" th:value="${result.productId}" />
									<input type="number" name="quantity" value="1" />
									<button type="submit" class="add-to-cart">Añadir al carrito</button>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:unless="${searchTerm}">
			<p class="no-search-term">No se proporcionó un término de búsqueda.</p>
		</div>
	</div>

	<footer th:replace="~{fragments/footer}" class="custom-footer"></footer>
</body>

</html>