<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}" />
<link rel="stylesheet" href="/css/cart.css" />

<body>
    <div id="content">
        <nav th:replace="~{fragments/nav}"></nav>

        <div class="container search-container">
            <h2 class="search-header" th:text="#{search.header}">Resultados de Búsqueda</h2>

            <div th:if="${searchTerm}">
                <ul class="horizontal-list">
                    <li th:each="product : ${searchResults}" class="product-container">
                        <th:block th:if="${product.stock <= 0}">
                            <div class="sold-out-bubble" th:text="#{product.outOfStock}">Agotado</div>
                        </th:block>
                        <th:block th:if="${not #lists.isEmpty(product.imagePaths)}">
                            <img th:src="@{/product/image/{name}(name=${product.imagePaths[0]})}"
                                alt="Imagen del producto" class="product-image" />
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(product.imagePaths)}">
                            <img src="/img/defaultImage.jpg" alt="Imagen por defecto" class="product-image" />
                        </th:block>
                        <div class="product-details-simi">
                            <p th:text="${product.name}">Producto:</p>
                            <p th:text="${product.detail}">Detalle:</p>
                            <p th:text="${product.price} + ' €'">Precio:</p>
                        </div>
                        <div class="product-actions-simi">
                            <a th:href="@{/product/detail/{productId}(productId=${product.productId})}"
                                class="view-detail" th:text="#{product.details}">Detalles</a>
                            <form th:unless="${product.perteneceAUsuario(#authentication.name)}"
                                th:action="@{/featured/add}" method="post">
                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                <button type="submit" class="add-to-favorites" th:text="#{product.addToFavorites}">Añadir a favoritos</button>
                            </form>
                        </div>
                        <div class="add-to-cart-section">
                            <form th:unless="${product.perteneceAUsuario(#authentication.name)}"
                                th:action="@{/cart/addProduct}" method="post">
                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                <input type="number" name="quantity" value="1" title="Cantidad" />
                                <button type="submit" class="add-to-cart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    <span class="hidden" th:text="#{product.addToCart}">Añadir al carrito</span>
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div th:if="${searchResults.empty}">
                <p class="no-search-results" th:text="#{search.noResults}">No se encontraron resultados para la búsqueda.</p>
            </div>
            <div th:unless="${searchTerm}">
                <p class="no-search-term" th:text="#{search.noSearchTerm}">No se proporcionó un término de búsqueda.</p>

                <div class="categories-container">
                    <h2 class="categories-header" th:text="#{category.header}">Buscar por Categorías</h2>
                    <ul class="categories-list">
                        <li><a th:href="@{/product/category/tecnologia}" class="category-button" th:text="#{category.electronics}">Electronica</a></li>
                        <li><a th:href="@{/product/category/ropa}" class="category-button" th:text="#{category.clothing}">Ropa</a></li>
                        <li><a th:href="@{/product/category/libros}" class="category-button" th:text="#{category.books}">Libros</a></li>
                        <li><a th:href="@{/product/category/belleza}" class="category-button" th:text="#{category.beauty}">Belleza</a></li>
                        <li><a th:href="@{/product/category/juguetes}" class="category-button" th:text="#{category.toys}">Juguetes</a></li>
                        <li><a th:href="@{/product/category/electrodomesticos}" class="category-button" th:text="#{category.appliances}">Electrodomesticos</a></li>
                        <li><a th:href="@{/product/category/zapatos}" class="category-button" th:text="#{category.shoes}">Zapatos</a></li>
                        <li><a th:href="@{/product/category/deporte}" class="category-button" th:text="#{category.sports}">Deporte</a></li>
                        <li><a th:href="@{/product/category/accesorios}" class="category-button" th:text="#{category.accessories}">Accesorios</a></li>
                        <li><a th:href="@{/product/category/otros}" class="category-button" th:text="#{category.others}">Otros</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:if="${searchResults.empty}">
            <div class="categories-container">
                <h2 class="categories-header" th:text="#{category.header}">Buscar por Categorías</h2>
                <ul class="categories-list">
                    <li><a th:href="@{/product/category/tecnologia}" class="category-button" th:text="#{category.electronics}">Electronica</a></li>
                    <li><a th:href="@{/product/category/ropa}" class="category-button" th:text="#{category.clothing}">Ropa</a></li>
                    <li><a th:href="@{/product/category/libros}" class="category-button" th:text="#{category.books}">Libros</a></li>
                    <li><a th:href="@{/product/category/belleza}" class="category-button" th:text="#{category.beauty}">Belleza</a></li>
                    <li><a th:href="@{/product/category/juguetes}" class="category-button" th:text="#{category.toys}">Juguetes</a></li>
                    <li><a th:href="@{/product/category/electrodomesticos}" class="category-button" th:text="#{category.appliances}">Electrodomesticos</a></li>
                    <li><a th:href="@{/product/category/zapatos}" class="category-button" th:text="#{category.shoes}">Zapatos</a></li>
                    <li><a th:href="@{/product/category/deporte}" class="category-button" th:text="#{category.sports}">Deporte</a></li>
                    <li><a th:href="@{/product/category/accesorios}" class="category-button" th:text="#{category.accessories}">Accesorios</a></li>
                    <li><a th:href="@{/product/category/otros}" class="category-button" th:text="#{category.others}">Otros</a></li>
                </ul>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/footer}" class="custom-footer"></footer>
</body>
</html>
