<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head" />
<body>
    <nav th:replace="fragments/nav" />
    <div class="container" style="text-align: center">
        <h2 th:text="#{welcome.message}"></h2>
        <span sec:authentication="principal.username" th:inline="text"></span>

        <!-- Mostrar la lista de productos -->
        <div class="all-products">
            <ul>
                <li th:each="product : ${productList}">
                    <span th:text="${product.name}"></span> - <span th:text="${product.price}"></span>
                </li>
            </ul>
        </div>
    </div>
    <footer th:replace="fragments/footer" />
</body>
</html>