<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}" />

<body>
    <nav th:replace="~{fragments/nav}" />

    <div class="container">
        <h2 th:text="#{users.list.header}"></h2>
        <p th:text="#{users.list.users}"></p>

        <div class="table-responsive">
            <form action="/user/delete" method="post">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{users.list.email}"></th>
                            <th th:text="#{users.list.name}"></th>
                            <th th:text="#{users.list.lastName}"></th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user, stat : ${usersList}">
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td><input type="checkbox" th:id="${'checkbox-' + stat.index}" th:name="selectedUsers" th:value="${user.email}" /></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary" th:text="#{users.list.delete}"></button>
            </form>
        </div>
    </div>

    
    <footer th:replace="~{fragments/footer}" />
</body>
</html>
