<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav"></nav>

	<div class="container mt-4">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-header">
						<h2 class="text-center">Mi Perfil</h2>
					</div>
					<div class="card-body">
						<div>
							<strong>Nombre:</strong> <span th:text="${user.name}"></span>
						</div>
						<div>
							<strong>Apellido:</strong> <span th:text="${user.lastName}"></span>
						</div>
						<div>
							<strong>Correo Electrónico:</strong> <span th:text="${user.email}"></span>
						</div>
						<div>
							<strong>Dinero en el monedero:</strong> <span th:text="${user.money}"></span>
						</div>
						<div>
							<form th:action="@{/user/addMoney}" method="post">
								<label for="amount">Añadir dinero:</label>
								<input type="text" id="amount" name="amount" pattern="[0-9]+(\.[0-9]+)?"
									title="Ingrese un número válido" />
								<button type="submit">Añadir</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/footer"></footer>
</body>

</html>