<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}" />

<link rel="stylesheet" type="text/css" href="custom.css" />

<body>
    <nav th:replace="~{fragments/nav}"></nav>

    <div class="container-profile">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Mi Perfil</h2>
                    </div>
                    <div class="card-body">
                        <div class="profile-info">
                            <div class="profile-item">
                                <strong>Nombre:</strong> <span th:text="${user.name}"></span>
                            </div>
                            <div class="profile-item">
                                <strong>Apellido:</strong> <span th:text="${user.lastName}"></span>
                            </div>
                            <div class="profile-item">
                                <strong>Correo Electrónico:</strong> <span th:text="${user.email}"></span>
                            </div>
                            <div class="profile-item">
                                <strong>Dinero en el monedero:</strong> <span th:text="${user.money}"></span>
                            </div>
                            <div class="profile-item">
                                <form th:action="@{/user/addMoney}" method="post" id="add-money-form"
                                    class="add-money-form">
                                    <div class="form-group">
                                        <label for="amount">Añadir dinero:</label>
                                        <input type="text" id="amount" name="amount" class="form-control"
                                            pattern="[0-9]+(\.[0-9]+)?" title="Ingrese un número válido" />
                                    </div>
                                    <!-- Contenedor del botón de PayPal -->
                                    <div id="paypal-button-container"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer"></footer>

    <!-- Script de PayPal -->
    <script
        src="https://www.paypal.com/sdk/js?client-id=Afbd5tp_jX9rvoQfO1Fsds9ge9cyXEuw4RnmmTsJMyM7wvQfIitGNv_kDMBg_J9L4SXeHITjckRF-_4S&currency=USD"></script>
    <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: document.getElementById('amount').value // Obtener el valor del campo de cantidad
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Manejar el pago aprobado
                    // Enviar la cantidad al backend
                    var amount = details.purchase_units[0].amount.value;
                    var form = document.getElementById('add-money-form');
                    form.querySelector('#amount').value = amount;
                    form.submit();
                });
            },
            onError: function (err) {
                // Manejar errores
                console.error(err);
            }
        }).render('#paypal-button-container');
    </script>
</body>

</html>
