<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/custom.css" />
    
</head>
<body>

    <footer class="footer">
        <div class="container">
            <div class="footer-text">
                <span class="text-muted" th:text="#{footer.copyright}"></span>
                <span class="footer-separator">|</span>
                <span th:text="#{footer.aboutUs}"></span>
                <span class="footer-separator">|</span>
                <span th:text="#{footer.contactUs}"></span>
            </div>
        </div>
    </footer>
</body>
</html>
