<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/custom.css" />
    
</head>
<body>

    <footer class="footer">
        <div class="container">
            <div class="footer-text">
                <span class="text-muted">&copy; 2024 BuyAndSell Inc. All rights reserved.</span>
                <span class="footer-separator">|</span>
                <span>About Us: We are a team passionate about providing the best online shopping experience to our customers.</span>
                <span class="footer-separator">|</span>
                <span>Contact Us: For inquiries, please email us at info@buyandsell.com</span>
            </div>
        </div>
    </footer>
</body>
</html>