<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head" />

<body>

	<nav th:replace="fragments/nav"></nav>
	<div style="display: inline-block;">
	<div th:if="${not #lists.isEmpty(cart.productCartEntities)}">
		<div th:each="productCartEntity : ${cart.productCartEntities}" class="cart-item">
			<!-- Imagen del producto -->
			<div th:if="${not #lists.isEmpty(productCartEntity.product.images)}">
				<img th:src="${productCartEntity.product.images[0]}" alt="Product Image" class="product-image-small" />
			</div>

			<div class="product-details">
				<h3 th:text="${productCartEntity.product.name}">Nombre del producto</h3>
				<p th:text="${productCartEntity.product.price}"></p>

				<form th:action="@{/cart/updateQuantity}" method="post">
					<input type="hidden" name="productId" th:value="${productCartEntity.id}" />
					<span th:text="${productCartEntity.id}"></span>
					<div class="quantity-container">
						<button type="submit" name="action" value="decrement">-</button>
						<input type="number" name="quantity" th:value="${productCartEntity.quantityInCart}" />
						<button type="submit" name="action" value="increment">+</button>
					</div>
				</form>


				<form th:action="@{/cart/clearCart}" method="post">
					<input type="hidden" name="cart" th:value="${productCartEntity.cart}" />
					<button type="submit">Vaciar carrito</button>
				</form>
			</div>
		</div>

		<div class="cart-summary">
			<h3>Total del Carrito: <span th:text="${cart.getTotalOrderPrice()}"></span></h3>
			<form th:action="@{/cart/buy}" method="post">
				<button type="submit">Pagar</button>
			</form>

			<div th:if="${param.error}">
				<p>No tienes suficiente dinero para realizar la compra.</p>
			</div>
		</div>



		<div th:if="${#lists.isEmpty(cart.productCartEntities)}">
			<p>Su carrito está vacío.</p>
		</div>

		<div th:if="${not #lists.isEmpty(favoriteProducts)}">
			<h2>Tus Productos Favoritos</h2>
			<div class="favorite-products">
				<div th:each="favorite : ${favoriteProducts}" class="favorite-item">
					<img th:src="${favorite.imageUrl}" alt="Product Image" class="product-image-small" />
					<div class="product-details">
						<h3 th:text="${favorite.name}"></h3>
					</div>
				</div>
			</div>
		</div>

</div>

</body>

</html>