.sold-out-bubble {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(227, 0, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1; 
}
.cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red; 
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.list-item-categories{
	margin: 1vh;
}

.tagify{    
  width: 100%;
  max-width: 700px;
}

.thanks-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.thanks-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.thanks-success {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}

.thanks-return {
    color: #555;
    font-size: 16px;
}


.star-rating i {
	font-size: 17px;
	color: #FFD700;
	transition: color 0.3s ease-in-out;
}

.star-rating i.deselected {
	color: #ccc;
}

.image-list-detail-product img {
    max-width: 200px; 
    max-height: 200px;
   
}

.add-review-block .star-rating i {
	font-size: 20px;
	color: rgb(192, 192, 192);
	transition: color 0.3s ease-in-out;
}

.add-review-block .star-rating i.selected {
	color: #FFD700;
}

.star-rating {
	display: flex;
}

.star {
	cursor: pointer;
}

.star i {
	font-size: 24px;
	color: #ccc;
}

.star.selected i {
	color: #ffcc00;
}
.image-list-detail-product {
       list-style: none;
    display: flex;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow-x: scroll;
    width: 700px;
    padding: 10px 0;
    scrollbar-width: thin;
    scrollbar-color: rgb(128, 128, 128) #f4f4f4;
}

.image-list-detail-product li {
    flex: 0 0 auto;
    margin-right: 10px; 
}

.product-image-datailsproduct {
    max-width: 100%;
    height: auto;
}
.add-review-block, .box-border-productinfo, .product-reviews  {
	 border: 1px  rgb(128, 128, 128); 
	 border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    margin-bottom: 10px;
}



.container.product-details-container-detail {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 200px;
}


.product-info-detail {
	margin-top: 20px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	margin-bottom: 60px;
}


.footer {
   position: relative;
   color:#000000;
    width: 100%;
    background-color: rgb(222, 222, 222);
    text-align: center;
    line-height: 40px;
    margin-top: 20px; /* Espacio adicional entre el contenido y el footer */
}



.my-custom-scrollbar {
	position: relative;
	height: 200px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}


.product-list li {
	display: grid;
	vertical-align: bottom;
	
}


.product-list {
	list-style-type: none;
	margin: 0;
	text-align: center;
	padding: 0;
	display: inline-block;
	margin-right: 10px;

}

body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
}

.main-content {
	max-width: 70%;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
	display: flex;
	margin-bottom: 20px;
}

.product-image-small {
	width: 50px;
	margin-right: 10px;
}

.product-details {
	margin-top: 10px;
	margin-left: 10px;
	flex-grow: 1;
}

.product-details-simi {
	margin-top: 10px;
	margin-left: 10px;
	flex-grow: 1;
}

.quantity-container {
	display: flex;
	align-items: center;
}

.quantity-container button {
	background-color: rgb(30, 121, 183);
	color: rgb(255, 255, 255);
	padding: 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.quantity-container button:hover {
	background-color: #2980b9;
}

.quantity-container input {
	width: 40px;
	text-align: center;
	margin: 0 5px;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.clear-cart-button {
	background-color: rgb(255, 204, 134);
	color: rgb(0, 0, 0);
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.pay-button {
	background-color: rgb(255, 255, 128);
	color: rgb(0, 0, 0);
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.clear-cart-button:hover,
.pay-button:hover {
	background-color: rgb(128, 0, 0);
	color: white;
}

.cart-summary {
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 10px;
}

.cart-summary h3 {
	margin-bottom: 10px;
}

.error-message,
.success-message,
.empty-cart-message {
	background-color: rgb(255, 169, 91);
	color: rgb(0, 0, 0);
	padding: 10px;
	border-radius: 8px;
	margin-top: 10px;
}

.favorite-products {
	display: flex;
	overflow-x: auto;
	margin-top: 20px;
}

.favorite-item {
	margin-right: 20px;
}

.custom-footer {
	text-align: center;
	padding: 10px;
	background-color: #101010;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.text-muted {
    color: #000000; 
}



#addProductButtonContainer {
	margin-top: 20px;
	text-align: center;
}

#addProductButton {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}



.list-own-h2 {
	text-align: center;
	color: #333;
}

.list-own-h3 {
	color: #333;
}

.list-own-product-list {
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.list-own-product-item {
	width: 45%;
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	text-align: center;
}
.review-list{
	list-style: none;
}



.horizontal-list-similarprod {
list-style: none;
	display: flex;
	margin-bottom: 5%;
	white-space: nowrap;
	margin-right: 5%;
	overflow-x: scroll;
	width: 100%;
	padding: 10px 0;
	scrollbar-width: thin;
	scrollbar-color: rgb(128, 128, 128) #f4f4f4;
}

.horizontal-list-similarprod .product-container-simi {
  border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right:5%;
    position: relative;
    max-width: 200px;
    min-height: 320px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.product-actions-simi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-delete-container {
    display: flex;
}

.edit-delete-container a {
    margin-right: 10px;
}
.horizontal-list-similarprod .product-container-simi:hover {
    transform: scale(1.05);
}

li.product-container-simi {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}


.horizontal-list {
    list-style: none;
    display: flex;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    padding: 10px 0;
    scrollbar-width: thin;
    scrollbar-color: rgb(128, 128, 128) #f4f4f4;
}
.horizontal-list .product-container {
    flex: 0 0 auto; /* Establece un tamaño flexible pero no creciente */
    width: 200px; /* Ancho fijo para cada producto */
    max-width: 200px; /* Establece un ancho máximo */
    margin-right: 20px; /* Espacio entre productos */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

.horizontal-list .product-container:hover {
    transform: scale(1.05);
}

.horizontal-list .product-details {
    overflow: hidden; /* Evita que el texto se salga del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
}



li.product-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.product-details-simi p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.list-own-product-image {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.list-own-product-name {
	font-weight: bold;
}

.list-own-product-detail,
.list-own-product-date,
.list-own-product-price {
	margin-top: 10px;
	color: #555;
}

.list-own-rating {
	color: #FFD700;
	margin-top: 10px;
}

.list-own-rating span {
	font-size: 20px;
}

.product-actions {
	margin-top: 10px;
	margin-bottom: 10px;
}

.edit-product-container {
	margin-top: 20px;
	max-width: 600px;
	margin-left: auto;
	margin-bottom:10%;
	margin-right: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 20px;
	color:rgb(110, 110, 110);
}

.form-control {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

form[name="editProductForm"] button[name="editProductButton"] {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

form[name="editProductForm"] button[name="editProductButton"]:hover {
	background-color: darkblue;
}

.image-list {
	list-style: none;
	padding: 0;
}

.image-list img {
	max-width: 100px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.checkbox-group {
	display: flex;
	align-items: center;
}

.checkbox-group input {
	margin-right: 5px;
}



.product-container:hover {
	border-color: #45a049;
}

.product-container a:hover {
	color: #45a049;
}

.product-container button:hover {
	background-color: #45a049;
}

.product-container {
	max-width: 200px;
	margin: 0 auto;
	height: 350px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 10px;
}

.list-own-container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	padding-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.product-image {


	margin-bottom: 15px;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

	max-width: 100%;
	max-height: 120px;
	width: auto;
	height: auto;
	margin: 0 auto;

}

.th-label.product-name {
	font-weight: bold;
	font-size: 16px;
}

.product-detail,
.th-date.product-date,
.th-price.product-price {
	margin-top: 10px;
	color: #555;
}
.categories-container{
	max-width: 70%;
	margin: 20px auto;
	padding: 5%;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.categories-header{
	margin-bottom: 5%;
}
.categories-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top:10px;
    margin-bottom:5%;
}

.category-button {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 5%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.category-button:hover {
    background-color: #ddd;
}

.search-container {
	max-width: 70%;
	margin: 20px auto;
	padding: 5%;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-header {
	color: #333;
	text-align: center;
	margin-bottom: 20px;
}

.search-label {
	display: block;
	margin-bottom: 10px;
	color: #555;
}

.search-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.search-button {
	background-color: rgb(0, 159, 80);
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.search-button:hover {
	background-color: rgb(0, 159, 80);
}

.quantity-input {
	width: 40px;
	padding: 5px;
	box-sizing: border-box;
}

.custom-footer {
	text-align: center;
	padding: 10px;
	background-color: #101010;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.button-separator {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
}

.search-results-container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.search-results-h2 {
	text-align: center;
	color: #333;
}

.product-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-container {
	max-width: 200px;
	margin: 0 10px 20px 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	text-align: center;
	transition: border-color 0.3s;
}

.product-container:hover {
	border-color: #45a049;
}

.product-container a:hover {
	color: #45a049;
}


.th-label.product-name {
	font-weight: bold;
	font-size: 16px;
}

.th-price.product-price {
	margin-top: 10px;
	color: #555;
}

.product-list product-published {
	list-style-type: none;
	margin: 0;
	text-align: center;
	padding: 0;
	display: inline-block;
	margin-right: 10px;
}


.product-container+.product-container {
	border-top: 1px solid #ddd;
	margin-top: 20px;
}

.featured-container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.featured-title {
	color: #333;
	text-align: center;
	margin-bottom: 5%;
}

.no-featured-products {
	text-align: center;
	color: #555;
}

.product-list {
	list-style: none;
	padding: 0;
}

.product-info {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    max-width: 200px; /* Ancho máximo para cada producto */
    height: 400px; /* Altura fija para cada producto */
    overflow: hidden;
    box-sizing: border-box;
}

.product-info img {
    max-width: 100%;
    height: auto;
}


.product-info p {
	margin: 0;
	margin-top: 10px;
	color: #555;
}

.product-info-listown {
	text-align: center;
	margin-bottom: 5px;
	margin: 1px;
}
.add-to-cart-section input[type="number"] {
    width: 50px; /* Ajustar el ancho del input de número */
    font-size: 14px;
    padding: 5px;
    margin-left: 10%;
 align-items:center;
    margin-top: 5px;
    margin-bottom: 10px;
}


.add-to-cart {
    background-color: rgb(132, 193, 255); 
    color: rgb(64, 0, 64);
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
}

.product-info .add-to-cart {
	width: 118px;
	margin: 0 auto;
	font-weight: bold;
}

.product-info form input[type="number"] {
	width: 40px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-right: 5px;
	margin-top: 15px;
}

.add-to-favorites {
	background-color: rgb(252, 205, 239);
	color: rgb(64, 0, 64);
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}
.view-detail {
    background-color: rgb(143, 231, 148);
    color: rgb(64, 0, 64);
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}


.view-detail:hover {
    background-color: rgb(24, 114, 29) !important;
    color: white !important;
}

.add-to-favorites:hover {
    background-color: rgb(189, 0, 114) !important;
    color: white;
}


.add-to-favorites-details {
	background-color: rgb(240, 240, 240);
	padding: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	 border: 1px  rgb(64, 0, 0); 
	 border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 7px;
}

.edit-product {
	background-color: rgb(151, 234, 153);
	color: rgb(64, 0, 64);
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 10px
}

.delete-product {
	background-color: rgb(213, 0, 0);
	color: #fff;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 10px;
}
.purchased-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.view-detail-button,
.remove-from-featured-button {
	background-color: rgb(143, 231, 148);
	color: rgb(64, 0, 64);
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	
}

.view-detail-button:hover,
.remove-from-featured-button:hover {
	background-color: rgb(0, 128, 64);
}

.product-actions-featured {

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.product-actions-featured button {
	margin: 0 5px;
}

.container-profile {
	max-width: 1500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.container product-details-container {
	max-width: 1500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.container-add {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}


.card {
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.card-header {
	background-color: rgb(62, 90, 130);
	color: rgb(255, 255, 255);
	padding: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-top: 5px;
}

.profile-info {
	margin: 20px 0;
	margin-left: 10px;
}

.profile-item {
	margin-bottom: 10px;
}


.add-money-form {
	margin-top: 15px;
}

.add-money-form label {
	font-size: 14px;

}

.add-money-form input {
	height: 30px;
	font-size: 14px;
	padding: 10px;
	width: 8%;
}

.add-money-form input[type="text"] {
	height: 30px;
	width: 150px;
	font-size: 14px;
	margin-bottom: 10px;
}

.add-money-form button {
	height: 30px;
	font-size: 14px;
}


#addImageButtonContainer,
#addProductButtonContainer {
	text-align: right;
	margin-top: 10px;
}

#addImageButton,
#addProductButton {
	padding: 10px;
	background-color: rgb(0, 128, 64);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="text"],
textarea,
select {
	width: 100%;
	padding: 8px;

	box-sizing: border-box;
}

label {
	display: block;
	margin-bottom: 5px;
}

.navbar-nav {
	display: flex;
	align-items: center;
}

.navbar-form {
	display: flex;
	align-items: center;
}

.navbar-form .form-group {
	margin-right: 10px;
}

.navbar-form .btn {
	margin-top: 0;
}

.navbar-nav>li>a {
	display: flex;
	align-items: center;
}
.navbar-inverse .navbar-nav>li>a {
    color: rgb(224, 224, 224);
}

.navbar-nav>li {
	margin-right: 10px;
}

.error-message {
	color: rgb(0, 0, 0);
	font-size: 12px;
}

.alert-danger {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	padding: 10px;
	margin-top: 20px;
	border-radius: 8px;
}

.flag-link {
	display: flex;
	align-items: center;
}

.flag-icon {
	border: 0;
	margin-right: 5px;
	height: 20px;
	width: auto;
}

html, body {
	height: 100%;
}

#content {
	min-height: calc(100% - 100px);
}

.error-container {
    background-color: rgb(255, 183, 111); 
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.error-container h2 {
    margin-top: 0; 
}