/* custom.css */

/* Sticky footer styles -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
 
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #101010;
    text-align: center;
    line-height: 60px
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.all-products {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 10px;
}

/* Estilo para los productos en el carrito */
.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.product-image-small {
    width: 50px;
    margin-right: 10px;
}

.product-details {
    flex-grow: 1;
}

/* Estilo para los productos favoritos */
.favorite-item {
    display: flex;
    margin-bottom: 20px;
}

/* Estilo para el resumen del carrito y botones de pago */
.cart-summary {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Estilo para el recuadro de total y botón de pago */
.cart-summary h3 {
    margin-bottom: 10px;
}

/* Estilo para los productos favoritos */
.favorite-products {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
}

/* Estilo para cada producto favorito */
.favorite-item {
    margin-right: 20px;
}

#addProductButtonContainer {
    margin-top: 20px;
    text-align: center;
}

#addProductButton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}




.list-own-h2 {
    text-align: center;
    color: #333;
}

.list-own-h3 {
    color: #333;
}

.list-own-product-list {
    list-style-type: none;
    margin: 20px 0; /* Aumenta el espacio entre filas */
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas adicionales */
    justify-content: space-around; /* Distribuye los elementos uniformemente en el eje principal */
}

.list-own-product-item {
    width: 45%; /* Ajusta el ancho de cada producto según tus necesidades */
    margin-bottom: 30px; /* Aumenta el espacio entre las filas */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.list-own-product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px; /* Aumenta el espacio entre la imagen y el contenido */
}

.list-own-product-name {
    font-weight: bold;
}

.list-own-product-detail,
.list-own-product-date,
.list-own-product-price {
    margin-top: 10px;
    color: #555;
}

/* Estilo para las estrellas de rating */
.list-own-rating {
    color: #FFD700; /* Color de las estrellas (amarillo) */
    margin-top: 10px; /* Agrega espacio entre el rating y los botones */
}

.list-own-rating span {
    font-size: 20px; /* Tamaño de las estrellas */
}

.product-actions {
    margin-top: 15px; /* Aumenta el espacio entre el rating y los botones */
}


/* Añade estos estilos al final de tu custom.css */

.edit-product-container {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

form[name="editProductForm"] button[name="editProductButton"] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form[name="editProductForm"] button[name="editProductButton"]:hover {
    background-color: darkblue;
}

.image-list {
    list-style: none;
    padding: 0;
}

.image-list img {
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 5px;
}



.product-container:hover {
    border-color: #45a049; /* Cambia el color del borde al pasar el mouse */
}

/* Estilos adicionales para resaltar la interactividad */
.product-container a:hover {
    color: #45a049;
}

.product-container button:hover {
    background-color: #45a049;
}

.product-container {
    max-width: 200px; /* Ajusta el ancho máximo de cada contenedor de producto */
    margin: 0 auto; /* Centra los contenedores */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.list-own-container {
    max-width: 1000px; /* Ajusta el ancho máximo del contenedor principal */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-image {
    max-width: 100px;  /* Ajusta el ancho máximo de la imagen */
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.th-label.product-name {
    font-weight: bold;
    font-size: 16px;  /* Ajusta el tamaño del nombre del producto */
}

.product-detail,
.th-date.product-date,
.th-price.product-price {
    margin-top: 10px;
    color: #555;
}


.search-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .search-header {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .search-label {
        display: block;
        margin-bottom: 10px;
        color: #555;
    }

    .search-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .search-button {
        background-color: #4caf50;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .search-button:hover {
        background-color: #45a049;
    }

.quantity-input {
    width: 40px; /* Ajusta el ancho según tus preferencias */
    padding: 5px; /* Ajusta el relleno según tus preferencias */
    box-sizing: border-box; /* Asegura que el ancho incluya el relleno y el borde */
}

    .custom-footer {
        text-align: center;
        padding: 10px;
        background-color: #101010;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .button-separator {
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Puedes ajustar el color según tu diseño */
    margin: 10px 0; /* Ajusta el espacio por encima y por debajo de la línea */
}
/* Estilos para la página de resultados de búsqueda */
.search-results-container {
    max-width: 800px; /* Ajusta el ancho máximo del contenedor de resultados de búsqueda */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.search-results-h2 {
    text-align: center;
    color: #333;
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-container {
    max-width: 200px;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    transition: border-color 0.3s; /* Agrega transición al color del borde */
}

.product-container:hover {
    border-color: #45a049; /* Cambia el color del borde al pasar el mouse */
}

.product-container a:hover {
    color: #45a049; /* Cambia el color del texto al pasar el mouse */
}

.product-details {
    margin-top: 10px;
}

.th-label.product-name {
    font-weight: bold;
    font-size: 16px;
}

.th-price.product-price {
    margin-top: 10px;
    color: #555;
}

/* Agrega un separador entre los productos */
.product-container + .product-container {
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
/* Estilos específicos para featured.html */

.featured-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.featured-title {
    color: #333;
    text-align: center;
}

.no-featured-products {
    text-align: center;
    color: #555;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-info {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.product-info p {
    margin: 0;
    margin-top: 10px;
    color: #555;
}

.view-detail-button,
.remove-from-featured-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.view-detail-button:hover,
.remove-from-featured-button:hover {
    background-color: #45a049;
}

