.sold-out-bubble {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(227, 0, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1; 
}
.cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red; 
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.thanks-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.thanks-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.thanks-success {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}

.thanks-return {
    color: #555;
    font-size: 16px;
}


.star-rating i {
	font-size: 17px;
	color: #FFD700;
	transition: color 0.3s ease-in-out;
}

.star-rating i.deselected {
	color: #ccc;
}

.image-list-detail-product img {
    max-width: 200px; 
    max-height: 200px;
   
}

.add-review-block .star-rating i {
	font-size: 20px;
	color: #ccc;
	transition: color 0.3s ease-in-out;
}

.add-review-block .star-rating i.selected {
	color: #FFD700;
}

.star-rating {
	display: flex;
}

.star {
	cursor: pointer;
}

.star i {
	font-size: 24px;
	color: #ccc;
}

.star.selected i {
	color: #ffcc00;
}
.image-list-detail-product {
       list-style: none;
    display: flex;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow-x: scroll;
    width: 700px;
    padding: 10px 0;
    scrollbar-width: thin;
    scrollbar-color: rgb(128, 128, 128) #f4f4f4;
}

.image-list-detail-product li {
    flex: 0 0 auto;
    margin-right: 10px; 
}

.product-image-datailsproduct {
    max-width: 100%;
    height: auto;
}
.add-review-block, .box-border-productinfo, .product-reviews  {
	 border: 1px  rgb(128, 128, 128); 
	 border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    margin-bottom: 10px;
}



.container.product-details-container-detail {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 200px;
}


.product-info-detail {
	margin-top: 20px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	margin-bottom: 60px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 60px;
	background-color: rgb(0, 0, 0);
	text-align: center;
	line-height: 60px;
	color: #fff;
	z-index: 1;
	left: 0;
	margin-top: 20px;
}

.my-custom-scrollbar {
	position: relative;
	height: 200px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}

.all-products {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
}

.product-list li {
	display: grid;
	vertical-align: bottom;
	align-items: baseline;
}

.product-list {
	list-style-type: none;
	margin: 0;
	text-align: center;
	padding: 0;
	display: inline-block;
	margin-right: 10px;

}

body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
}

.main-content {
	max-width: 800px;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
	display: flex;
	margin-bottom: 20px;
}

.product-image-small {
	width: 50px;
	margin-right: 10px;
}

.product-details {
	flex-grow: 1;
}

.quantity-container {
	display: flex;
	align-items: center;
}

.quantity-container button {
	background-color: #3498db;
	color: #fff;
	padding: 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.quantity-container button:hover {
	background-color: #2980b9;
}

.quantity-container input {
	width: 40px;
	text-align: center;
	margin: 0 5px;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.clear-cart-button,
.pay-button {
	background-color: #4caf50;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.clear-cart-button:hover,
.pay-button:hover {
	background-color: #45a049;
}

.cart-summary {
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 10px;
}

.cart-summary h3 {
	margin-bottom: 10px;
}

.error-message,
.success-message,
.empty-cart-message {
	background-color: rgb(255, 155, 55);
	color: #fff;
	padding: 10px;
	border-radius: 8px;
	margin-top: 10px;
}

.favorite-products {
	display: flex;
	overflow-x: auto;
	margin-top: 20px;
}

.favorite-item {
	margin-right: 20px;
}

.custom-footer {
	text-align: center;
	padding: 10px;
	background-color: #101010;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}



#addProductButtonContainer {
	margin-top: 20px;
	text-align: center;
}

#addProductButton {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}




.list-own-h2 {
	text-align: center;
	color: #333;
}

.list-own-h3 {
	color: #333;
}

.list-own-product-list {
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.list-own-product-item {
	width: 45%;
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	text-align: center;
}

.list-own-product-image {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.list-own-product-name {
	font-weight: bold;
}

.list-own-product-detail,
.list-own-product-date,
.list-own-product-price {
	margin-top: 10px;
	color: #555;
}

.list-own-rating {
	color: #FFD700;
	margin-top: 10px;
}

.list-own-rating span {
	font-size: 20px;
}

.product-actions {
	margin-top: 10px;
	margin-bottom: 10px;
}

.edit-product-container {
	margin-top: 20px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

form[name="editProductForm"] button[name="editProductButton"] {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

form[name="editProductForm"] button[name="editProductButton"]:hover {
	background-color: darkblue;
}

.image-list {
	list-style: none;
	padding: 0;
}

.image-list img {
	max-width: 100px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.checkbox-group {
	display: flex;
	align-items: center;
}

.checkbox-group input {
	margin-right: 5px;
}



.product-container:hover {
	border-color: #45a049;
}

.product-container a:hover {
	color: #45a049;
}

.product-container button:hover {
	background-color: #45a049;
}

.product-container {
	max-width: 200px;
	margin: 0 auto;
	height: 350px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 10px;
}

.list-own-container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	padding-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.product-image {


	margin-bottom: 15px;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

	max-width: 100%;
	max-height: 120px;
	width: auto;
	height: auto;
	margin: 0 auto;

}

.th-label.product-name {
	font-weight: bold;
	font-size: 16px;
}

.product-detail,
.th-date.product-date,
.th-price.product-price {
	margin-top: 10px;
	color: #555;
}


.search-container {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-header {
	color: #333;
	text-align: center;
	margin-bottom: 20px;
}

.search-label {
	display: block;
	margin-bottom: 10px;
	color: #555;
}

.search-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.search-button {
	background-color: #4caf50;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.search-button:hover {
	background-color: #45a049;
}

.quantity-input {
	width: 40px;
	padding: 5px;
	box-sizing: border-box;
}

.custom-footer {
	text-align: center;
	padding: 10px;
	background-color: #101010;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.button-separator {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
}

.search-results-container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.search-results-h2 {
	text-align: center;
	color: #333;
}

.product-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-container {
	max-width: 200px;
	margin: 0 10px 20px 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	text-align: center;
	transition: border-color 0.3s;
}

.product-container:hover {
	border-color: #45a049;
}

.product-container a:hover {
	color: #45a049;
}

.product-details {
	margin-top: 10px;
	margin-left: 10px;
}

.th-label.product-name {
	font-weight: bold;
	font-size: 16px;
}

.th-price.product-price {
	margin-top: 10px;
	color: #555;
}

.product-list product-published {
	list-style-type: none;
	margin: 0;
	text-align: center;
	padding: 0;
	display: inline-block;
	margin-right: 10px;
}


.product-container+.product-container {
	border-top: 1px solid #ddd;
	margin-top: 20px;
}

.featured-container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.featured-title {
	color: #333;
	text-align: center;
}

.no-featured-products {
	text-align: center;
	color: #555;
}

.product-list {
	list-style: none;
	padding: 0;
}


.product-info {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 20px;
	position: relative;
	vertical-align: baseline;
	max-width: 200px;
	min-height: 350px;
	width: 100%;
	height: 100%;
	align-self: stretch;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
}

.product-info p {
	margin: 0;
	margin-top: 10px;
	color: #555;
}

.product-info-listown {
	text-align: center;
	margin-bottom: 5px;
	margin: 1px;
}

.add-to-cart-section input[type="number"] {
	width: 35px;
	font-size: 14px;
	padding: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}


.add-to-cart {
	background-color: #3498db;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 12px;
}

.add-to-cart:hover {
	background-color: #2980b9;
}

.product-info .add-to-cart {
	width: 118px;
	margin: 0 auto;
	font-weight: bold;
}

.product-info form input[type="number"] {
	width: 40px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-right: 5px;
	margin-top: 15px;
}

.add-to-favorites {
	background-color: #4caf50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}
.add-to-favorites-details {
	background-color: rgb(240, 240, 240);
	padding: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	 border: 1px  rgb(64, 0, 0); 
	 border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 7px;
}

.edit-product {
	background-color: #4caf50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 10px
}

.delete-product {
	background-color: rgb(213, 0, 0);
	color: #fff;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 10px;
}
.purchased-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.view-detail-button,
.remove-from-featured-button {
	background-color: #4caf50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.view-detail-button:hover,
.remove-from-featured-button:hover {
	background-color: #45a049;
}

.product-actions-featured {

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.product-actions-featured button {
	margin: 0 5px;
}

.container-profile {
	max-width: 1500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.container product-details-container {
	max-width: 1500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.container-add {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}


.card {
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.card-header {
	background-color: rgb(62, 90, 130);
	color: rgb(255, 255, 255);
	padding: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-top: 5px;
}

.profile-info {
	margin: 20px 0;
	margin-left: 10px;
}

.profile-item {
	margin-bottom: 10px;
}


.add-money-form {
	margin-top: 15px;
}

.add-money-form label {
	font-size: 14px;

}

.add-money-form input {
	height: 30px;
	font-size: 14px;
	padding: 10px;
	width: 8%;
}

.add-money-form input[type="text"] {
	height: 30px;
	width: 150px;
	font-size: 14px;
	margin-bottom: 10px;
}

.add-money-form button {
	height: 30px;
	font-size: 14px;
}


#addImageButtonContainer,
#addProductButtonContainer {
	text-align: right;
	margin-top: 10px;
}

#addImageButton,
#addProductButton {
	padding: 10px;
	background-color: rgb(71, 184, 85);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="text"],
textarea,
select {
	width: 100%;
	padding: 8px;

	box-sizing: border-box;
}

label {
	display: block;
	margin-bottom: 5px;
}

.navbar-nav {
	display: flex;
	align-items: center;
}

.navbar-form {
	display: flex;
	align-items: center;
}

.navbar-form .form-group {
	margin-right: 10px;
}

.navbar-form .btn {
	margin-top: 0;
}

.navbar-nav>li>a {
	display: flex;
	align-items: center;
}

.navbar-nav>li {
	margin-right: 10px;
}

.error-message {
	color: rgb(0, 0, 0);
	font-size: 12px;
}

.alert-danger {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	padding: 10px;
	margin-top: 20px;
	border-radius: 8px;
}

.flag-link {
	display: flex;
	align-items: center;
}

.flag-icon {
	border: 0;
	margin-right: 5px;
	height: 20px;
	width: auto;
}